<div id="wrapper">
    <app-sidebar></app-sidebar>


    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-header></app-header>

            <!-- End Navbar -->
            <div class="container-fluid">
                <!-- <app-breadcrumbs></app-breadcrumbs> -->

                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer></app-footer>

    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top" style="display: inline;">
    <i class="fas fa-angle-up"></i>
</a>