<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Pagina no encontrada.</h3>

            <p>
                Nosotros no podimos encontrar la pagina que estas buscando. Mientras tanto, puedes <a [routerLink]="['/dashboard']">retornar al dashboard.</a>
            </p>
            <!-- 
            <form class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
              </button>
                    </div>
                </div>
            </form> -->
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>