<h1 class="h3 mb-4 text-gray-800">Usuarios</h1>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lista de usuarios</h6>
                <button (click)="onMostrarNuevoUsuario()" class="float-right btn btn-info btn-sm">
                        <i class="fa fa-plus"></i>&nbsp;Agregar
                      </button>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="table_usuarios" width="100%" cellspacing="0" class="table table-bordered">
                                <thead class="text-info">
                                    <tr>
                                        <th>
                                            Usuario
                                        </th>
                                        <th>
                                            Nombres
                                        </th>

                                        <th>
                                            Apellido Paterno
                                        </th>
                                        <th>
                                            Apellido Materno
                                        </th>

                                        <th>
                                            DNI
                                        </th>

                                        <th>
                                            Perfil
                                        </th>
                                        <th>
                                            Estado
                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let u of usuarios">
                                        <td>
                                            {{u.usuario}}
                                        </td>
                                        <td>
                                            {{u.nombres}}
                                        </td>
                                        <td>
                                            {{u.apePaterno}}
                                        </td>
                                        <td>
                                            {{u.apeMaterno}}
                                        </td>

                                        <td>
                                            {{u.dni}}
                                        </td>

                                        <td>
                                            {{u.descPerfil}}
                                        </td>
                                        <td>
                                            {{u.descEstado}}
                                        </td>
                                        <td>
                                            <button title="Permisos" (click)="onMostrarFrmAcceso(u)" class="btn btn-primary btn-sm">
                                                                    <i class="fa fa-user-cog"></i> 
                                                                  </button>
                                        </td>
                                        <td>
                                            <button title="Editar" (click)="onMostrarEditar(u)" class="btn btn-success btn-sm">
                                                                <i class="fa fa-edit"></i> 
                                                              </button>
                                        </td>
                                        <td *ngIf="u.idEstado === '1'">
                                            <button title="Eliminar" (click)="onEliminar(u)" class="btn btn-danger btn-sm">
                                                                    <i class="fa fa-trash"></i> 
                                                                  </button>
                                        </td>

                                        <td *ngIf="u.idEstado === '0'">
                                            <button title="Activar" (click)="onActivar(u)" class="btn btn-warning btn-sm">
                                                <i class="fa fa-check"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<div class="modal fade" id="modalUsuario" style="display: none;">
    <div class="modal-dialog modal-lg">
        <form #formUsuario="ngForm" (ngSubmit)="formUsuario.valid  && onSubmitUsuario(formUsuario)" novalidate>
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title"> {{tituloUsuario}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label [ngClass]="{ 'text-danger': formUsuario.submitted && !usu.valid }" for="usuario">Usuario</label>
                                <input [ngClass]="{ 'is-invalid': formUsuario.submitted && !usu.valid }" name="usuario" #usu="ngModel" [(ngModel)]="usuario" required type="text" class="form-control" id="usuario">
                                <div *ngIf="formUsuario.submitted && !usu.valid " class="invalid-feedback">
                                    Debe ingresar el usuario.
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group ">
                                <label [ngClass]="{ 'text-danger': formUsuario.submitted && !pas.valid }" class="bmd-label-floating">Password</label>
                                <input [ngClass]="{ 'is-invalid': formUsuario.submitted && !pas.valid }" name="pass" #pas="ngModel" [(ngModel)]="pass" type="password" required class="form-control" id="pass">
                                <div *ngIf="formUsuario.submitted && !pas.valid " class="invalid-feedback">
                                    Debe ingresar el password.
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label [ngClass]="{ 'text-danger': formUsuario.submitted && !apePat.valid }" class="bmd-label-floating">Apellido Paterno</label>
                                <input [ngClass]="{ 'is-invalid': formUsuario.submitted && !apePat.valid }" name="apePaterno" #apePat="ngModel" [(ngModel)]="apePaterno" required type="text" class="form-control" id="apellidoPaterno">
                                <div *ngIf="formUsuario.submitted && !apePat.valid " class="invalid-feedback">
                                    Debe ingresar el apellido paterno.
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label [ngClass]="{ 'text-danger': formUsuario.submitted && !apeMat.valid }" class="bmd-label-floating">Apellido Materno</label>
                                <input [ngClass]="{ 'is-invalid': formUsuario.submitted && !apeMat.valid }" name="apeMaterno" #apeMat="ngModel" [(ngModel)]="apeMaterno" required type="text" class="form-control" id="apellidoMaterno">
                                <div *ngIf="formUsuario.submitted && !apeMat.valid " class="invalid-feedback">
                                    Debe ingresar el apellido materno.
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label [ngClass]="{ 'text-danger': formUsuario.submitted && !nom.valid }" class="bmd-label-floating">Nombres</label>
                                <input [ngClass]="{ 'is-invalid': formUsuario.submitted && !nom.valid }" name="nombres" #nom="ngModel" [(ngModel)]="nombres" required type="text" class="form-control" id="nombres">
                                <div *ngIf="formUsuario.submitted && !nom.valid " class="invalid-feedback">
                                    Debe ingresar los nombre.
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group ">
                                <label [ngClass]="{ 'text-danger': formUsuario.submitted && !d.valid }" class="bmd-label-floating">DNI</label>
                                <input [ngClass]="{ 'is-invalid': formUsuario.submitted && !d.valid }" name="dni" #d="ngModel" [(ngModel)]="dni" required type="text" class="form-control" id="dni">
                                <div *ngIf="formUsuario.submitted && !d.valid " class="invalid-feedback">
                                    Debe ingresar el DNI.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group bmd-form-group">
                                <label [ngClass]="{ 'text-danger': formUsuario.submitted && !em.valid }" class="bmd-label-floating">Email</label>
                                <input [ngClass]="{ 'is-invalid': formUsuario.submitted && !em.valid }" name="email" #em="ngModel" [(ngModel)]="email" required type="text" class="form-control" id="email">
                                <div *ngIf="formUsuario.submitted && !em.valid " class="invalid-feedback">
                                    Debe ingresar el email.
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group bmd-form-group">
                                <label [ngClass]="{ 'text-danger': formUsuario.submitted && !telef.valid }" class="bmd-label-floating">Telefono</label>
                                <input [ngClass]="{ 'is-invalid': formUsuario.submitted && !telef.valid }" name="telefono" #telef="ngModel" [(ngModel)]="telefono" required type="text" class="form-control" id="telefono">
                                <div *ngIf="formUsuario.submitted && !telef.valid " class="invalid-feedback">
                                    Debe ingresar el telefono.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">

                            <div class="form-group">
                                <div class="form-check form-check-radio form-check-inline">
                                    <label class="form-check-label">
                                                <input type="radio" name="inlineRadioOptions" id="radio1" class="form-check-input" value="1" [(ngModel)]="sexo" /> Masculino
                                          <span class="circle">
                                              <span class="check"></span>
                                          </span>
                                        </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline">
                                    <label class="form-check-label">
                                                <input type="radio" name="inlineRadioOptions" id="radio2" class="form-check-input" value="2" [(ngModel)]="sexo" />  Femenino
                                          <span class="circle">
                                              <span class="check"></span>
                                          </span>
                                        </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group ">
                                <label [ngClass]="{ 'text-danger': formUsuario.submitted && !perfilId.valid }" class="bmd-label-floating">Perfil</label>
                                <select required [ngClass]="{ 'is-invalid': formUsuario.submitted && !perfilId.valid }" #perfilId="ngModel" [(ngModel)]="perfil" name="perfilId" class="form-control">
                                            <option [ngValue]="null">Seleccione</option>
                                            <option [ngValue]="perfil" *ngFor="let perfil of perfiles">
                                                {{perfil.descPerfil}}
                                            </option>
                                        </select>
                                <div *ngIf="formUsuario.submitted && !perfilId.valid " class="invalid-feedback">
                                    Debe seleccionar el perfil.
                                </div>
                            </div>
                        </div>

                    </div>











                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-info"><i class="fa fa-save"></i> Guardar</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </form>
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalAcceso" style="display: none;">
    <div class="modal-dialog modal-sm">
        <form #formAcceso="ngForm" (ngSubmit)="formAcceso.valid  && onSubmitAcceso(formAcceso)" novalidate>
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title"> Accesos</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="table_accesos" width="100%" cellspacing="0" class="table table-bordered">
                                    <thead class="text-info">

                                        <tr>
                                            <th colspan="2"><input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedAll" (change)="onSelectAll();"></th>
                                            <th>
                                                Nombre
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <ng-container *ngFor="let m of menu">
                                            <tr>
                                                <td colspan="2"> <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="m.selected" (change)="checkIfAllSelected(m);"> </td>
                                                <td>
                                                    {{m.nombre}}
                                                </td>
                                            </tr>
                                            <ng-container *ngFor="let sm of m.submenu">
                                                <tr>
                                                    <td></td>
                                                    <td><input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="sm.selected" (change)="checkIfAllSubMenuSelected(m);"> </td>
                                                    <td>
                                                        - {{sm.nombre}}
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-info"><i class="fa fa-save"></i> Guardar</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </form>
    </div>
    <!-- /.modal-dialog -->
</div>



<div class="modal fade" id="modaEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de eliminar el usuario seleccionado?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                <button type="button" (click)="onConfirmacionEliminar()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalActivar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de activar el usuario seleccionado?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                <button type="button" (click)="onConfirmacionActivar()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>