<h1 class="h3 mb-4 text-gray-800">Asistencias</h1>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form #formAsistencias="ngForm" (ngSubmit)="onSubmit(formAsistencias)" novalidate>

                <div class="card-body">
                    <div class="row">
                        <div class="col-10">
                            <h5 class="card-title m-b-0">Aprobaciones</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <table id="table_aprobaciones" class="table">
                                <thead class="text-info">
                                    <tr>
                                        <th>

                                        </th>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Proyecto
                                        </th>
                                        <th>
                                            Tareador
                                        </th>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            Hora
                                        </th>

                                        <th>
                                            Tipo
                                        </th>

                                        <th>
                                            Motivo
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let a of asistencias">
                                        <td>{{a.idAsistencia}}</td>
                                        <td>{{a.nombreCompleto}}</td>
                                        <td>{{a.proyecto}}</td>
                                        <td>{{a.tareador}}</td>
                                        <td>{{a.fecha}}</td>
                                        <td>{{a.hora}}</td>
                                        <td>{{a.tipo}}</td>
                                        <td>{{a.motivo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-info btn-sm ">
                                            <i class="fa fa-check"></i>&nbsp;Aprobar
                                          </button>
                            </div>

                        </div>

                    </div>



                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Aprobación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de aprobar las asistencias seleccionadas?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" (click)="onAprobar();" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>