<h1 class="h3 mb-4 text-gray-800">Partidas de control</h1>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="table_partidas" width="100%" cellspacing="0" class="table table-bordered">
                                <thead class="text-info">
                                    <tr>
                                        <th>ID</th>

                                        <th>Código</th>

                                        <th>Descripción</th>



                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of partidas">
                                        <td>{{p.idPartida}}</td>
                                        <td>{{p.codPartida}}</td>
                                        <td>{{p.descPartida}}</td>
                                        <td>{{p.descEstado}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>