<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/dashboard']">
        <div class="sidebar-brand-icon">
            <img src="assets/img/isotipo-aya.svg" alt="homepage" class="light-logo" />
        </div>
        <div class="sidebar-brand-text mx-3">TAREOS</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <ng-container *ngFor="let menu of SIDEBAR_SERVICE.menuUsuario">
        <li class="nav-item" routerLinkActive="active">
            <ng-container *ngIf="!menu.submenu">
                <a class="nav-link" [routerLink]="menu.url">
                    <i class="fas fa-fw" [ngClass]="menu.icon"></i><span>{{menu.nombre}} </span></a>
            </ng-container>
            <ng-container *ngIf="menu.submenu">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" [attr.data-target]="'#collapse'+menu.id" aria-expanded="true" [attr.aria-controls]="'#collapse'+menu.id">
                    <i class="fas fa-fw" [ngClass]="menu.icon"></i> &nbsp; <span>{{menu.nombre}}</span>
                </a>
                <div id="collapse{{menu.id}}" routerLinkActive="show" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <ng-container *ngFor="let submenu of menu.submenu">
                            <a class="collapse-item" (click)="onResize()" routerLinkActive="active" [routerLink]="submenu.url">{{submenu.nombre}} 
                                    &nbsp; &nbsp;<span *ngIf="submenu.id === '10' && pendientes!=='0'" class="badge badge-danger badge-counter">{{pendientes}}</span>
                                                 <span *ngIf="submenu.id === '11' && trabajadores!=='0'" class="badge badge-danger badge-counter">{{trabajadores}}</span> 
                            </a>

                        </ng-container>

                    </div>
                </div>
            </ng-container>

        </li>
    </ng-container>







    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>