<h1 class="h3 mb-4 text-gray-800">Proyectos</h1>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="table_proyectos" width="100%" cellspacing="0" class="table table-bordered">
                                <thead class="text-info">
                                    <tr>
                                        <th>ID</th>

                                        <th>Código</th>

                                        <th>Descripción</th>

                                        <th>Hora Ingreso</th>

                                        <th>Hora Salida</th>

                                        <th>Estado</th>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of proyectos">
                                        <td>{{p.idProyecto}}</td>
                                        <td>{{p.codProyecto}}</td>
                                        <td>{{p.descProyecto}}</td>
                                        <td>{{p.horaIngreso}}</td>
                                        <td>{{p.horaSalida}}</td>
                                        <td>{{p.descEstado}}</td>

                                        <td> <button title="Editar Proyecto" (click)="onEditar(p)" class="btn btn-primary btn-sm">
                                            <i class="fa fa-edit"></i> 
                                          </button>
                                        </td>
                                        <td> <button title="Finalizar Proyecto" (click)="onConfirmarFinalizar(p)" class="btn btn-danger btn-sm">
                                            <i class="fa fa-tasks"></i> 
                                          </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="modal fade" id="modalProyecto" style="display: none;">
    <div class="modal-dialog modal-lg">
        <form #formProyecto="ngForm" (ngSubmit)="formProyecto.valid  && onSubmitProyecto(formProyecto)" novalidate>
            <div class="modal-content" *ngIf="proyectoSeleccionado">
                <div class="modal-header">

                    <h4 class="modal-title"> {{proyectoSeleccionado.descProyecto}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label [ngClass]="{ 'text-danger': formProyecto.submitted && !horaIng.valid }" class="bmd-label-floating">Hora Ingreso</label>
                                <input [ngClass]="{ 'is-invalid': formProyecto.submitted && !horaIng.valid }" name="horaIngreso" #horaIng="ngModel" [(ngModel)]="proyectoSeleccionado.horaIngreso" required type="text" class="form-control" id="horaIngreso">
                                <div *ngIf="formProyecto.submitted && !horaIng.valid " class="invalid-feedback">
                                    Debe ingresar la hora de ingreso.
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label [ngClass]="{ 'text-danger': formProyecto.submitted && !horaSal.valid }" class="bmd-label-floating">Hora Salida</label>
                                <input [ngClass]="{ 'is-invalid': formProyecto.submitted && !horaSal.valid }" name="horaSalida" #horaSal="ngModel" [(ngModel)]="proyectoSeleccionado.horaSalida" required type="text" class="form-control" id="horaSalida">
                                <div *ngIf="formProyecto.submitted && !horaSal.valid " class="invalid-feedback">
                                    Debe ingresar la hora de salida.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-info"><i class="fa fa-save"></i> Guardar</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </form>
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Modal -->
<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Proyecto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de finalizar el proyecto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" (click)="onFinalizar();" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>