<h1 class="h3 mb-4 text-gray-800">Dashboard</h1>



<div class="row">

    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://app.powerbi.com/view?r=eyJrIjoiMmM0MzA2ODktMGIzZC00MzBjLWI5NWYtYzYxODY5NjgzZDY3IiwidCI6ImQ4MTc1NDlkLWRiMzQtNDg3Yi05YzRlLTZiYjlmYjJmNzY5MSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>