<h1 class="h3 mb-4 text-gray-800">Subir Archivo</h1>
<fieldset [disabled]="!firstFormEnabled">
    <div class="row" (dblclick)="onEnableFirstForm()">
        <div class="col-12">
            <div class="card mb-4">

                <div class="card-body">

                    <div class="row">
                        <div class="col-9">
                            <form #formFile="ngForm" (ngSubmit)="formFile.valid  &&  onMostrar()" novalidate>

                                <div class="form-group row">
                                    <!-- <label class="col-2">Subir archivo</label> -->
                                    <div class="col-7">
                                        <div class="custom-file">
                                            <input accept=".xlsx" [ngClass]="{ 'is-invalid': formFile.submitted && !nameFileId.valid }" type="file" (change)="onFileChangeExcel($event)" multiple="true" class="custom-file-input form-control" id="validatedCustomFile">
                                            <label class="custom-file-label" for="validatedCustomFile">{{titleFile}}</label>

                                            <div *ngIf="formFile.submitted && !nameFileId.valid" class="invalid-feedback">
                                                Debe seleccionar el archivo.
                                            </div>
                                        </div>
                                        <input type="hidden" name="nameFile" #nameFileId="ngModel" [(ngModel)]="nameFile" required/>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-group">
                                            <input type="text" autocomplete="off" [ngClass]="{ 'is-invalid': formFile.submitted && !dateId.valid }" required [(ngModel)]="date" name="date" #dateId="ngModel" class="form-control" id="datepicker-autoclose" placeholder="dd-mm-yyyy">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <div *ngIf="formFile.submitted && !dateId.valid" class="invalid-feedback">
                                                Debe seleccionar la fecha.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-list"></i> &nbsp;Mostrar</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</fieldset>
<fieldset [disabled]="!secondFormEnabled">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">

                    <div class="row">
                        <div class="col-12">
                            <form #secondform="ngForm" (ngSubmit)="secondform.valid  && onMacros()" novalidate>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <br />
                                        <div class="custom-file">
                                            <input accept=".xlsm" [ngClass]="{ 'is-invalid': secondform.submitted && !nameFileMacroId.valid }" type="file" (change)="onFileChangeMacro($event)" #archivo name="archivo" multiple="false" class="custom-file-input form-control" id="validatedCustomFileMacro">
                                            <label class="custom-file-label" for="validatedCustomFileMacro">{{titleFileMacro}}</label>
                                        </div>
                                        <input type="hidden" name="nameFileMacro" #nameFileMacroId="ngModel" [(ngModel)]="nameFileMacro" required/>

                                    </div>

                                </div>

                                <div class="card mb-4 py-3 border-left-primary" *ngFor="let result of results;let i = index">
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <div class="col-12">
                                                <label for="txtProyecto">Proyecto</label>
                                                <input [(ngModel)]="result.proyecto" name="txtProyecto{{i}}" readonly type="text" class="form-control" id="txtProyecto{{i}}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-6">
                                                <label>Tareador</label>
                                                <input [(ngModel)]="result.tareador" name="txtTareador{{i}}" readonly type="text" class="form-control" id="txtTareador{{i}}">
                                            </div>
                                            <div class="col-6">
                                                <label>Archivo</label>
                                                <input [(ngModel)]="result.archivo" name="txtArchivo{{i}}" readonly type="text" class="form-control" id="txtArchivo{{i}}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-12">
                                                <div *ngIf="messages[i] && messages[i].show" class="alert" [ngClass]="messages[i].class" role="alert">
                                                    {{messages[i].message}}
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                      </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-center">
                                            <div class="float-right">
                                                <br/>
                                                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> &nbsp;Procesar</button> &nbsp;
                                                <button type="button" (click)="onCancelar();" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i> &nbsp;Cancelar</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</fieldset>

<!-- Modal -->
<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Partes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de procesar las archivos seleccionadas?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" (click)="onProcesar();" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmPage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Partes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de salir de la pagina?
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-secondary">Cerrar</button>
                <button type="button" id="btnAccept" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>