<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>
        Derechos reservados por <b>AyA Edificaciones</b>. Diseñado y Desarrollador por <a target="_blank"
            href="https://www.facebook.com/redagileperu">Red Agile Perú</a>.

            </span>
        </div>
    </div>
</footer>