<h1 class="h3 mb-4 text-gray-800">Trabajadores</h1>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="table_trabajadores" width="100%" cellspacing="0" class="table table-bordered">
                                <thead class="text-info">
                                    <tr>
                                        <th>ID</th>

                                        <th>DNI</th>

                                        <th>Nombres</th>

                                        <th>Apellidos</th>

                                        <th>Rol</th>


                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let t of trabajadores">
                                        <td>{{t.idTrabajador}}</td>
                                        <td>{{t.dni}}</td>
                                        <td>{{t.nombres}}</td>
                                        <td>{{t.apellidos}}</td>
                                        <td>{{t.descRol}}</td>
                                        <td>{{t.descEstado}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>